@import './utilidades/colors';
@import './utilidades/typo';
@import './utilidades/reset';

@import './sections/footer';
@import './sections/header';
@import './sections/main-contac';

@mixin titulo-section ($fondocolor){
    background-color: $fondocolor;
    text-align: center;
    font-family: $typo-principal;
    font-size: 30px;
    padding: 10px;
    margin: 0 !important;
    transition: 10s all;
}

// /* ---------------  CONTENIDO PRINCIPAL  -------------------- */

.main-verano2023 h2 {
    @include titulo-section ($rosa-titulo1);
}

.main-accesorios h2 {
    @include titulo-section ($rosa-titulo2);
}

.main-bags h2 {
    @include titulo-section ($rosa-titulo3);
}

.container-fluid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1fr;
    grid-template-areas:
        "banner banner banner banner"
        "prod-1 prod-2 prod-3 prod-4"
}

.banner {
    grid-area: banner;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-1 {
    grid-area: prod-1;
    background-color: $rosa-oscuro;
}

.prod-2 {
    grid-area: prod-2;
    background-color: $rosa-oscuro;
}

.prod-3 {
    grid-area: prod-3;
    background-color: $rosa-oscuro;
}

.prod-4 {
    grid-area: prod-4;
    background-color: $rosa-oscuro;
}

.img-cover {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.info-producto {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nombre-prod {
    font-size: 20px;
    font-family: $typo-principal;
    text-align: center;
    margin: 5px;
}

.descripcion {
    font-size: 17px;
    text-align: center;
    margin: 5px;
}

.container button {
    font-size: 10px;
    margin: 10px;
}


/* ---------------  RESPONSIVE  -------------------- */

/* Dispositivo Mediano */
@media (max-width: 768px) {
    h2{
        font-size: 25px !important;
    }
    .menu a {
        font-size: 18px;
        margin: 5px;
    }

    .container-fluid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 1fr 1fr;
        grid-template-areas:
            "banner banner"
            "prod-1 prod-2"
            "prod-3 prod-4";
    }

    .nombre-prod {
        font-size: 25px;
        margin: 8px;
    }

    .descripcion {
        font-size: 20px;
    }
}

/* Dispositivo Chico */
@media (max-width: 420px) {
    h2{
        font-size: 20px !important;
    }
    .container-fluid {
        grid-template-columns: 1fr;
        grid-template-rows: 0.35fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "banner"
            "prod-1"
            "prod-2"
            "prod-3"
            "prod-4";
    }

    .nombre-prod {
        font-size: 30px;
        text-align: center;
    }

    .descripcion {
        font-size: 25px;
        text-align: center;
    }

    .container button {
        font-size: 15px;
        margin: 15px;
    }
    
}