$rosa-clarito: #EEE2DF;
$rosa-intermedio: #EED7C5;
$rosa-oscuro: #C89F9C;

/* ---------------  FOOTER  -------------------- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $rosa-clarito;
    padding: 10px;
    width: 100%;
}

footer article {
    padding: 15px;
}

h3{
    font-family: $typo-principal;
}

.info-page {
    width: 55vw;
}

.info-page p {
    margin: 4px;
    font-size: 15px;
}

.seccion-redes h3 {
    text-align: center;
    padding: 8px;
}

.seccion-redes a {
    margin: 5px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}


// ------ RESPONSIVE ----------
@media (max-width: 768px) {
    .seccion-redes {
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center
    }

    .seccion-redes a {
        margin: 2px;
        font-size: 15px;
    }
}

@media (max-width: 420px) {
    footer {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    
    .info-page{
        width: 90vw;
        text-align: center;
    }

}