$rosa-clarito: #EEE2DF;
$rosa-intermedio: #EED7C5;
$rosa-oscuro: #C89F9C;

/* ---------------  MENU  -------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: $rosa-clarito;
}

nav{
    padding: 0 !important;
}

.logo {
    width: 270px;
}

.menu a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.navbar {
    display: none;
}

// --------- RESPONSIVE ---------
/* Dispositivo Mediano */
@media (max-width: 768px) {
    header {
        display: none;
    }

    .navbar {
        display: block;
    }
}

/* Dispositivo Chico */
@media (max-width: 420px) {
    header {
        display: none;
    }

    .navbar {
        display: block;
    }
    
    .logo {
        margin: 5px;
        width: 150px;
    }

    .menu a {
        font-size: 18px;
        margin: 10px;
    }
}